<form action="/create_location_from_tour" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @location.name %>">
  </div>

  <div class="form-group">
    <label for="arrives_on">
      Arrives on
    </label>

    <input type="text" id="arrives_on" name="arrives_on" class="form-control" value="<%= @location.arrives_on %>">
  </div>

  <div class="form-group">
    <label for="departs_on">
      Departs on
    </label>

    <input type="text" id="departs_on" name="departs_on" class="form-control" value="<%= @location.departs_on %>">
  </div>

  <div class="form-group">
    <label for="weather">
      Weather
    </label>

    <input type="text" id="weather" name="weather" class="form-control" value="<%= @location.weather %>">
  </div>

  <div class="form-group">
    <label for="exchange_rate">
      Exchange rate
    </label>

    <input type="text" id="exchange_rate" name="exchange_rate" class="form-control" value="<%= @location.exchange_rate %>">
  </div>

  <div class="form-group">
    <label for="local_currency">
      Local currency
    </label>

    <input type="text" id="local_currency" name="local_currency" class="form-control" value="<%= @location.local_currency %>">
  </div>

  <input type="hidden" name="tour_id" value="<%= @tour.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>
