<h1>
  Edit tour #<%= @tour.id %>
</h1>

<hr>

<form action="/update_tour/<%= @tour.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @tour.name %>">
  </div>

  <div class="form-group">
    <label for="starts_on">
      Starts on
    </label>

    <input type="text" id="starts_on" name="starts_on" class="form-control" value="<%= @tour.starts_on %>">
  </div>

  <div class="form-group">
    <label for="ends_on">
      Ends on
    </label>

    <input type="text" id="ends_on" name="ends_on" class="form-control" value="<%= @tour.ends_on %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update tour
  </button>
</form>

<hr>

<a href="/tours">
  Go back
</a>
