<h1>
  Edit tour #<%= @tour.id %>
</h1>

<hr>

<!-- Form tour start -->
<form action="/update_tour/<%= @tour.id %>" method="post">
<!-- Form tour end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @tour.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for starts_on start -->
  <div class="form-group">
    <label for="starts_on">
      Starts on
    </label>

    <!-- Input for starts_on start -->
    <input type="text" id="starts_on" name="starts_on" class="form-control" value="<%= @tour.starts_on %>">
    <!-- Input for starts_on end -->
  </div>
  <!-- Label and input for starts_on end -->

  <!-- Label and input for ends_on start -->
  <div class="form-group">
    <label for="ends_on">
      Ends on
    </label>

    <!-- Input for ends_on start -->
    <input type="text" id="ends_on" name="ends_on" class="form-control" value="<%= @tour.ends_on %>">
    <!-- Input for ends_on end -->
  </div>
  <!-- Label and input for ends_on end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @tour.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update tour
  </button>
</form>

<hr>

<a href="/tours">
  Go back
</a>
