<% if @location.present? %>
  <% if @location.errors.any? %>
    <% @location.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new location
</h1>


<hr>

<form action="/create_location" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @location.name %>">
  </div>

  <div class="form-group">
    <label for="arrives_on">
      Arrives on
    </label>

    <input type="text" id="arrives_on" name="arrives_on" class="form-control" value="<%= @location.arrives_on %>">
  </div>

  <div class="form-group">
    <label for="departs_on">
      Departs on
    </label>

    <input type="text" id="departs_on" name="departs_on" class="form-control" value="<%= @location.departs_on %>">
  </div>

  <div class="form-group">
    <label for="weather">
      Weather
    </label>

    <input type="text" id="weather" name="weather" class="form-control" value="<%= @location.weather %>">
  </div>

  <div class="form-group">
    <label for="exchange_rate">
      Exchange rate
    </label>

    <input type="text" id="exchange_rate" name="exchange_rate" class="form-control" value="<%= @location.exchange_rate %>">
  </div>

  <div class="form-group">
    <label for="local_currency">
      Local currency
    </label>

    <input type="text" id="local_currency" name="local_currency" class="form-control" value="<%= @location.local_currency %>">
  </div>

  <div class="form-group">
    <label for="tour_id">
      Tour
    </label>

    <%= select_tag(:tour_id, options_from_collection_for_select(Tour.all, :id, :name, @location.tour_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
